<ui-view>
<div class="top-header"></div>
<div class="container-fluid">
    <header class="page-header">
        <h1><svg class="icon icon-large icon-integration"><use xlink:href="assets/images/icons.svg#icon-integration"></use></svg> <span translate>Applications</span></h1></header>
        <div class="page-section">
        	<span translate>In order to access the EASI'R API, you need to create and register an application. You will then recieve some credentials. </span><br>
            <a href="https://developers.letszebra.com/#intro" target="_blank"><button class="btn btn-sm btn-gray link" tooltip="More Info"><svg class="icon icon-medium icon-file"><use xlink:href="assets/images/icons.svg#icon-file"></use></svg><span translate>API Documentation</span></button></a>
        </div></br></br>

    <div class="applications-search" ng-show="">
        <search-field callback="applicationsSearch" placeholder-text="'Search applications...' | translate"></search-field>
    </div>
    <div class="no-categories" ng-show="applicationsPagination.total == 0" translate>
            No categories
        </div>
        <section class="page-section application" >
        <div class="section-box">
           <header></header>
            <div class="row">
                <div class="form-group col-sm-12">
                    <label translate>Name</label>
                    <input class="form-control" type="text" ng-model="query.name" placeholder="{{'The name of your application' | translate}}" required/>
                </div>
            </div>
         <div class="row">
                <div class="form-group col-sm-12">
                    <label translate>URI</label>
                    <input class="form-control" type="text" ng-model="query.redirect_uri"  placeholder="{{'An authorized URI to redirect the user to' | translate}}" required/>
                </div>
            </div>
        </div>
            <button class="btn btn-primary generate" ng-click="submitApplication()">
                <span translate>Create Application</span>
            </button>
   </section>    
    <section class="application-list">
    <div class="table table-hover margin">
    <div class="table-head">
    <div class="table-row"><div>Your Applications</div></div>
    </div>
    <div class="table-body">
                    <div class="table-row" ng-repeat="data in applications | orderBy:'-created_at'">
                        <div class="name" ui-sref="private.settings.credentials--view({ id: data.client_id })">{{ data.name}}</div>
                    </div>
        
                </div>
                </div>
    </section>      
          
    <!-- 
    <section class="page-section">
        <div class="credentials" ng-show="">
            <div class="table table-hover margin">
                <div class="table-head">
                    <div class="table-row">
                        <div class="name">
                        <span translate>Here are your Credentials. Use them wisely</span>
                        </div>
                    </div>
                </div>
                <div class="table-body">
                <div class="table-row">
                    <div class="field-value table-cell-first">Name</div>
                        <div class="field-value">{{ query.name }}</div>
                        </div>
                        <div class="table-row">
                    <div class="field-value table-cell-first">URI</div>
                        <div class="field-value">{{ query.redirect_uri }}</div>
                        </div>
                    <div class="table-row">
                    <div class="field-value table-cell-first">Client ID</div>
                        <div class="field-value">{{ credentials.client_id }}</div>
                        </div>
                     <div class="table-row">
                     <div class="field-value">Client Secret</div>
                        <div class="field-value">{{ credentials.client_secret }}</div>
                    </div>
                    <div class="table-row">
                    <div class="field-value table-cell-first">Created At</div>
                        <div class="field-value">{{ credentials.created_at | date: 'fullDate'}} {{credentials.created_at | date: 'shortTime'}}</div>
                        </div>
                </div>
                </div>  
        <span id="content"></span>    
        <button class="btn btn-danger delete" ng-click="deleteApplication(credentials.client_id)"><span translate>Delete</span></button>
        </div>
    </section> !-->
    </div>
</div>
<div class="busy-overlay" ng-show="listBusy"></div>
</ui-view>